:root{
    --primary-100:#892CDC;
    --primary-200:#BC6FF1;
    --primary-300:#fdf6fd;
    --accent-100:#D9ACF5;
    --accent-200:#fff4ff;
    --text-100:#EEEEEE;
    --text-200:#FDEBED;
    --bg-100:#222831;
    --bg-200:#393E46;
    --bg-300:#454e59;
    --transition: 0.4s linear ;
    --margin-left:40px;
    --addtion:#330F53;
    --addtion1:rgba(69, 78, 89, 0.00);
    --shadow:#222;
}

/* Filter */
.filter{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 40px 0 0 0 ;
    gap: 60px;
    font-weight: 900;
    font-size: 25px;
    background-color: var(--bg-100);
    color: var(--text-200);
    width: 618px;
    height: 50px;
    border-radius:10px;
    left: 50%;
    transform: translateX(-50%);
}
.filter div{
    background-color: var(--primary-200); 
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 9px;
    text-align: center;
    transition: var(--transition);
}
.filter div p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.filter div:hover{
    background-color: var(--primary-300);
    color: var(--shadow);
}
.filter div{
    background-color: #892CDC;
}

.filter-menu{
    display: none;
    position: relative;
    z-index: 999;
}
    .dropdown {
    position: relative;
    width: 300px;
    background-color: var(--bg-100);
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--text-200);
    }

    .dropdown__faceface,
    .dropdown__items {
        background-color: #fff;
        padding: 20px;
        border-radius: 25px;
    }

    .dropdown__face {
        display: block;
        position: relative;
    }

    .dropdown__items {
        margin: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        list-style: none;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
        cursor: pointer;
        background-color: var(--bg-100);
        font-size: 15px;
    }
        /* .dropdown::before {
        content: "";
        background-color: var(--bg-100);
        position: absolute;
        bottom: 100%;
        right: 20%;
        height: 40px;
        width: 20px;
        } */
    

    .dropdown__arrow {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        position: absolute;
        top: 50%;
        right: 30px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: right;
    }

    input {
        display: none;
    }
    input:checked ~ .dropdown__items {
        top: calc(100% + 25px);
        visibility: visible;
        opacity: 1;
    }
    





/* Filter */
/* Cards */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 32px 0 0 0;

}
.cards .card{
    width: 200px;
    padding: 12px 10px ;
    border-radius: 13px;
    background-color: var(--bg-200);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cards .card:hover{
    border-radius: 13px 13px 0 0 ;
}
.cards .card:hover .hover{

    opacity:1;
    bottom: -40px;
}
.cards .card .top{
    display: flex;
    justify-content:space-between;
    transition: var(--transition);
}





.cards .card .top p {
    color: var(--text-100);
    font-size: 20px;
    font-weight: 900;
}
.cards .card .top a{
    color: var(--addtion);
    position: relative;
    right: -39px;
    top: 1px;
    transition: var(--transition);
}
.cards .card .top a:hover{
    color: var(--accent-200);
}
.cards .card .middle div img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: var(--transition);
}

.cards .card .middle div img:hover{

    transform: scale(1.4);
}

.cards .card .middle div{
    overflow: hidden;
}

.cards .card .bottom {
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: 900;
    color: var(--text-100);
    font-size: 20px;
}
.hover{
    width: 200px;
    padding: 12px 10px ;
    border-radius: 0 0 13px 13px;
    text-align: center;
    background-color: var(--bg-200);
    position: absolute;
    bottom: 5px;
    opacity:0;
    transition: var(--transition);
    color: var(--text-100);
}
.hover .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

/* Cards */

@media (max-width:768px){
    .filter{
        display: none;
    }
    .filter-menu{
        display: flex;
        justify-content: center;
        margin-top: 75px;
    }

    .hover{
        position: relative;
        bottom: -40px;
        opacity: 1;
    }
}
@media (max-width:450px){
    .dropdown{
        width: 100%;
        margin: 0 25px 0 
    }
    .dropdown__items{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
