:root{
    --primary-100:#892CDC;
    --primary-200:#BC6FF1;
    --primary-300:#fdf6fd;
    --accent-100:#D9ACF5;
    --accent-200:#fff4ff;
    --text-100:#EEEEEE;
    --text-200:#FDEBED;
    --bg-100:#222831;
    --bg-200:#393E46;
    --bg-300:#454e59;
    --transition: 0.4s linear ;
    --margin-left:40px;
    --addtion:#330F53;
    --addtion1:rgba(69, 78, 89, 0.00);
    --shadow:#222;
}

.skills-container{
    margin-top: 60px;
}

.skills-container img{
    width: 80px;
}

.skills-container .skills-cards div{
    display: grid;
    margin: 20px 0;
    gap: 40px;
    column-gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(170px,1fr));

}
.skills-container .skills-cards div .card{
    width: 170px;
    height: 170px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 11px;
    background: linear-gradient(180deg, var(--primary-100) 0%, var(--addtion) 100%);
    padding: 10px 15px;
    color: var(--text-200);
    transition: var(--transition) linear;
}
.skills-container .skills-cards div .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.skills-container .skills-cards h3{
    width: 202px;
    height: 34px;
    border-radius: 7px;
    background: linear-gradient(180deg, var(--accent-100) 27.08%, rgba(188, 111, 241, 0.00) 100%);
    text-align: center;
    padding: 4px ;
}

